<div class="topbar">
        <div class="toggle">
            <i class="bi bi-list"></i>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <mat-icon>
                    search
                </mat-icon>
            </label>
        </div>

        <div class="user">
            <!--<img src="assets/imgs/customer01.jpg" alt="">-->
        </div>
</div>

    <!-- ======================= Cards ================== -->
<div class="cardBox">
        <div class="card">
            <div>
                <div class="numbers">20</div>
                <div class="cardName">Refree</div>
            </div>

            <div class="iconBx">
                <mat-icon id="refree">sports</mat-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Reservation VIP</div>
            </div>
            <div class="iconBx">
                <i class="bi bi-cart3"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">4</div>
                <div class="cardName">Application Rate</div>
            </div>
            <div class="iconBx">
                <mat-icon>star</mat-icon>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">200</div>
                <div class="cardName">Comments</div>
            </div>

            <div class="iconBx">
                <mat-icon>chat_bubble_outline</mat-icon>
            </div>
        </div>
        <div class="card">
            <div>
                <div class="numbers">{{number}}</div>
                <div class="cardName">Stade Owners </div>
            </div>

            <div class="iconBx">
                <i class="bi bi-people-fill"></i>
            </div>
        </div>
</div>

