<div class="topbar">
        <div class="toggle">
            <i class="bi bi-list"></i>
        </div>

        <div class="search">
            <label>
                <input type="text" placeholder="Search here">
                <mat-icon>
                    search
                </mat-icon>
            </label>
        </div>

        <div class="user">
            <!--<img src="assets/imgs/customer01.jpg" alt="">-->
        </div>
</div>

    <!-- ======================= Cards ================== -->
<div class="cardBox">
        <!--<div class="card">
            <div>
                <div class="numbers">1,504</div>
                <div class="cardName">Daily Views</div>
            </div>

            <div class="iconBx">
                <i class="bi bi-eye"></i>
            </div>
        </div> -->

        <div class="card">
            <div>
                <div class="numbers">80</div>
                <div class="cardName">Sales</div>
            </div>

            <div class="iconBx">
                <i class="bi bi-cart3"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">284</div>
                <div class="cardName">Comments</div>
            </div>

            <div class="iconBx">
                <i class="bi bi-chat"></i>
            </div>
        </div>

        <div class="card">
            <div>
                <div class="numbers">$7,842</div>
                <div class="cardName">Earning</div>
            </div>

            <div class="iconBx">
                <i class="bi bi-cash-coin"></i>
            </div>
        </div>
</div>

