<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Stadiums</h1>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> STadium <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Owner <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Location <span class="icon-arrow">&UpArrow;</span></th>
                    <th> profile creation date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> Mahdia Stadium </td>
                    <td> <img src="images/Zinzu Chan Lee.jpg" alt="">Zinzu Chan Lee</td>
                    <td> Seoul </td>
                    <td> 17 Dec, 2022 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                </tr>
                <tr>
                    <td> Tunisa Stadium </td>
                    <td><img src="images/Jeet Saru.png" alt=""> Jeet Saru </td>
                    <td> Kathmandu </td>
                    <td> 27 Aug, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> Borj Areef gazon</td>
                    <td><img src="images/Sonal Gharti.jpg" alt=""> Sonal Gharti </td>
                    <td> Tokyo </td>
                    <td> 14 Mar, 2023 </td>
                    <td>
                        <p class="status shipped">Shipped</p>
                    </td>
                </tr>
                <tr>
                    <td> san Fransisco Stadium</td>
                    <td><img src="images/Alson GC.jpg" alt=""> Alson GC </td>
                    <td> New Delhi </td>
                    <td> 25 May, 2023 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                </tr>
                <tr>
                    <td> Tou Efel Stadium</td>
                    <td><img src="images/Sarita Limbu.jpg" alt=""> Sarita Limbu </td>
                    <td> Paris </td>
                    <td> 23 Apr, 2023 </td>
                    <td>
                        <p class="status pending">Pending</p>
                    </td>
                </tr>
                <tr>
                    <td> Old Trafold Stadium</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alex Gonley </td>
                    <td> London </td>
                    <td> 23 Apr, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> Miami Stadium</td>
                    <td><img src="images/Alson GC.jpg" alt=""> Jeet Saru </td>
                    <td> New York </td>
                    <td> 20 May, 2023 </td>
                    <td>
                        <p class="status delivered">Delivered</p>
                    </td>
                </tr>
                <tr>
                    <td> Istanbul Stadium</td>
                    <td><img src="images/Sarita Limbu.jpg" alt=""> Aayat Ali Khan </td>
                    <td> Islamabad </td>
                    <td> 30 Feb, 2023 </td>
                    <td>
                        <p class="status pending">Pending</p>
                    </td>
                </tr>
                <tr>
                    <td> Dhaka Stadium</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> Emarat Stadium</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> 9</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> 9</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
                <tr>
                    <td> 9</td>
                    <td><img src="images/Alex Gonley.jpg" alt=""> Alson GC </td>
                    <td> Dhaka </td>
                    <td> 22 Dec, 2023 </td>
                    <td>
                        <p class="status cancelled">Cancelled</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
