<main class="table" id="stadiums_table">
    <section class="table__header">
        <h1>Stadiums</h1>
        <div class="export__file">
            <label for="export-file" class="export__file-btn" title="Export File"></label>
            <input type="checkbox" id="export-file">
            <div class="export__file-options">
                <label>Export As &nbsp; &#10140;</label>
                <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
            </div>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Stadium name <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Owner <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Location <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Capacity <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Profile creation date <span class="icon-arrow">&UpArrow;</span></th>
                    <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stade of stadiums">
                    <td>{{ stade.name }}</td>
                    <td><img [src]="stade.stadeOwner.image" alt="Owner Image">{{ stade.stadeOwner.name }}</td>
                    <td>{{ stade.location }}</td>
                    <td>{{ stade.capacity }}</td>
                    <td>{{ stade.createdAt | date:'medium' }}</td>
                    <td>
                        <p [class]="'status ' + (stade.isVIP ? 'shipped' : 'delivered')">
                            {{ stade.isVIP ? 'VIP' : 'Regular' }}
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>

