.main{
	background: rgba(10, 10, 10, .35);
	width: 100%;
	max-width: 1500px;
	padding: 30px 40px;
	border-radius: 1rem;
}
.title{
	position: relative;
	font-size: 30px;
	font-weight: 700;
	color: #faf9f6;
	margin-bottom: 10px;
}
.title::before{
	position: absolute;
	content: '';
	left: 0;
	bottom: -8px;
	height: 3px;
	width: 60px;
	background: #ff328e;
}
form .main-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 0 8px 0;
}
form .main-box .input-box{
	width: calc(100% / 2 - 15px);
	margin: 15px 0;
}
form .main-box .input-box input{
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 255, .1);
	color: #faf9f6;
	outline: none;
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, .09);
	padding-left: 17px;
	font-size: 1rem;
	transition: all .40s ease;
}
.main-box .input-box .text{
	display: block;
	margin-bottom: 8px;
	color: #faf9f6;
	font-weight: 500;
}
form .main-box .input-box input:focus,
form .main-box .input-box input:valid{
	border-color: #faf9f6;
}

form .container .gender{
	font-size: 22px;
	font-weight: 500;
	color: #faf9f6;
}
form .container .category{
	display: flex;
	justify-content: space-between;
	width: 70%;
	margin: 10px 0;
	color: #faf9f6;
}
.container .category label{
	display: flex;
	align-items: center;
}
.container .category .circle{
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #ff328e;
	margin-right: 8px;
	border: 4px solid transparent;
}
#circle-1:checked ~ .category label .one,
#circle-2:checked ~ .category label .two,
#circle-3:checked ~ .category label .three{
	border-color: #faf9f6;
}
form input[type= "radio"]{
	display: none;
}
form .btn{
	height: 50px;
	margin: 20px 0;
}
form .btn input{
	height: 100%;
	width: 100%;
	outline: none;
	background: rgba(255, 255, 255, .1);
	color: #faf9f6;
	border-radius: 8px;
	border: none;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: all .40s ease;
}
form .btn input:hover{
	background: #ff328e;
}

@media (max-width: 640px){
	.main{
		max-width: 100%;
	}
	form .main-box .input-box{
		width: 100%;
		margin: 5px 0;
	}
	form .container .category{
		width: 100%;
	}
	form .main-box{
		max-height: 430px;
		overflow-y: scroll;
	}
}
/* style of card */
.example-button-container {
	display: flex;
	justify-content: flex-end; /* Align items to the end (right) of the container */
	position: relative;
	width: 100%;
	margin-bottom: 15px;
  }
  .example-button-container button{
	margin-right: 30px;
  }
  
  /* style of card */
  .example-card {
	width: 350px;
	min-height: 310px;
  }
  .card-container {
	display: flex;
	gap: 30px;
	margin-left: 20px;
  }
  mat-divider{
	border: solid black;
	position: relative;
	float: right;
  }
  mat-card-actions{
	display: flex;
	gap: 20px;
  }
  mat-card-title{
	color: aquamarine;
	
  }
  mat-card-header{
	width: 100%;
	border-right:1em solid var(--blue) ;
  }
  
  .example-card {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  
  mat-card-content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }
  
  mat-card-actions {
	margin-top: auto;
  }
  
  #price{
	text-align: right;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	align-self: flex-end;  /* Align the price to the end of the container */
  }
  /* style of delete need button */
  #del{
	width:fit-content;
	border-radius: 100%;
	border: none;
	position: relative;
	background: aliceblue;
  }
  #del:hover{
	background:rgb(255, 35, 35);
	color: white;
  }
  .feature{
	width:100px;
	margin-left: 0%;
	
  }
  /* style of the add Feature  button */
  #add{
	width: fit-content;
	border-radius: 25px;
	background: transparent;
	color:black;
  }
  #add:hover{
	background-color: var(--blue) ;
	color: aliceblue;
  
  }
  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
	.example-card {
	  width: 100%; /* Take up the full width of the container */
	}
  
	.card-container {
	  flex-direction: column; /* Stack cards vertically on smaller screens */
	  gap: 15px;
	  margin-left: 0;
	}
  
	.example-button-container {
	  justify-content: center; /* Center the button container on smaller screens */
	}
  
	.example-button-container button {
	  margin-right: 0; /* Remove right margin for buttons on smaller screens */
	}
  }
  /* selected card */
  .selected {
	border: 4px solid greenyellow;
	box-shadow: 2px 2px 5px rgba(0, 255, 55, 0.5);
  }