/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue: #0F2167;
    --white: #fff;
    --gray:#f5f5f5;
    --black1:#222;
    --bluer:#3559E0;
    --bluwhiter:#4CB9E7;
    --black2:#999;
    --beige:#FFECD6;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
